@media screen and (min-width: 1201px) {
}

@media screen and (max-width: 1200px) {
  :root {
    --logo-margin: 4em;
    --main-carousel-margin: 4rem;
  }
}

@media screen and (min-width: 769px) {
  .product-carousel .carousel-indicators {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --logo-margin: 2em;
    --main-carousel-margin: 0;
  }
  /* products */
  .products {
    display: block;
    margin: 0;
  }

  .product {
    flex: none;
    margin: 0;
  }

  .product img {
    max-width: none;
    object-fit: cover;
    height: 36vh;
  }

  .product .content {
    padding: 1.2em;
  }

  .product .subject {
    height: 5vh;
  }

  .product .footer {
    height: 6vh;
  }

  .product .btn {
    width: 24vw;
    margin-right: 12vw;
    margin-top: -2vw;
  }

  .products-wrap .title {
    margin: 4% 0 5% 0;
  }

  /* products */

  /* main slider */
  .main-carousel .carousel-indicators {
    left: 0;
    text-align: center;
    bottom: -1%;
  }

  .main-carousel .carousel-item {
    height: auto;
  }

  .main-carousel .carousel-inner {
    text-align: center;
  }

  .slide-def-wrap {
    padding: 1em 6em 0em 6em;
    width: 100%;
    min-height: auto;
    margin: 0;
    text-align: center;
  }

  .slide-def .summary {
    display: none;
  }
  /* main slider */

  .product-carousel {
    position: relative;
    /*box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);*/
  }

  .product-carousel .carousel-inner {
    position: relative;
    overflow: visible;
    width: 100%;
  }

  .product-carousel .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
    display: block;
  }

  .product-carousel .carousel-item {
    position: absolute;
    opacity: 0;
    display: none;
    /*-webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;*/
  }

  /*.product-carousel .carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
  }*/

  .product-carousel .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }

  .product-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
  }

  .product-carousel .carousel-bullet {
    color: #cfd3e8;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }

  .product-carousel .carousel-bullet:hover {
    color: #aaaaaa;
  }

  #p-carousel-1:checked ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
  #p-carousel-2:checked ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
  #p-carousel-3:checked
    ~ .carousel-indicators
    li:nth-child(3)
    .carousel-bullet {
    color: #5f6db3;
  }
}
