@media screen and (min-width: 1601px) {
  :root {
    --logo-margin: 12rem;
    --main-carousel-margin: 12rem;
    --menu-left-mg: 36rem;
  }
}

@media screen and (max-width: 1600px) {
  :root {
    --logo-margin: 10rem;
    --main-carousel-margin: 10rem;
    --menu-left-mg: 10rem;
  }
}

@media screen and (min-width: 1201px) {
  .details .title {
    font-size: 1em;
    padding-left: 1em;
  }
  .details .btn {
    width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    --logo-margin: 8rem;
    --main-carousel-margin: 8rem;
    --menu-left-mg: 1rem;
  }
  .details .title {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 901px) {
  .details .title {
    font-size: 1rem;
  }
  .slide-def-wrap {
    font-size: 0.9rem;
  }
  .slide-def-wrap .title {
    font-weight: 800;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --logo-margin: 4rem;
    --main-carousel-margin: 4rem;
    --menu-left-mg: 0rem;
    --presentation-height: 240px;
  }

  .presentations {
    display: block;
  }

  .presentation img {
    object-fit: cover;
  }

  .details .title {
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .details .btn {
    width: 100%;
    font-size: 1rem;
  }

  .slide-def-wrap {
    font-size: 0.8rem;
  }
  .slide-def-wrap .title {
    font-weight: 800;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 769px) {
  .product-carousel .carousel-indicators {
    display: none;
  }
  .header .menu {
    display: block;
  }
  .details .title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --logo-margin: 2rem;
    --main-carousel-margin: 0;
    --presentation-height: 180px;
    --slide-block-width: 90%;
    --slide-height: 500px;
  }
  /* products */
  .products {
    display: block;
    margin: 0;
  }

  .product {
    flex: none;
    margin: 0;
  }

  .product img {
    max-width: none;
    object-fit: cover;
    height: 36vh;
  }

  .product .content {
    padding: 1.2em;
  }

  .product .subject {
    height: 5vh;
  }

  .product .footer {
    height: 6vh;
  }

  .product .btn {
    width: 24vw;
    margin-right: 12vw;
    margin-top: -2vw;
  }

  .products-wrap .title {
    margin: 4% 0 5% 0;
  }

  .details .title {
    font-size: 100%;
    line-height: 1.2rem;
  }

  /* products */

  /* main slider */
  .main-carousel .carousel-indicators {
    left: 0;
    text-align: center;
    bottom: -1%;
  }

  .main-carousel .carousel-item {
    height: auto;
  }

  .main-carousel .carousel-inner {
    text-align: center;
  }

  .slide-def-wrap {
    padding: 1em 6em 0em 6em;
    width: 100%;
    min-height: auto;
    margin: 0;
    text-align: center;
  }

  .slide-def-wrap .title {
    font-size: 2.6rem;
  }

  .slide-def .summary {
    display: none;
  }

  .slide-def-wrap .btn {
    font-size: 0.9rem;
    margin-top: 2em;
    padding: 0.5em 0;
  }
  /* main slider */

  .product-carousel {
    position: relative;
  }

  .product-carousel .carousel-inner {
    position: relative;
    overflow: visible;
    width: 100%;
  }

  .product-carousel .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
    display: block;
  }

  .product-carousel .carousel-item {
    position: absolute;
    opacity: 0;
    display: none;
  }

  .product-carousel .carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }

  .product-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
  }

  .product-carousel .carousel-bullet {
    color: #cfd3e8;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }

  .product-carousel .carousel-bullet:hover {
    color: #aaaaaa;
  }

  #p-carousel-1:checked ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
  #p-carousel-2:checked ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
  #p-carousel-3:checked
    ~ .carousel-indicators
    li:nth-child(3)
    .carousel-bullet {
    color: #5f6db3;
  }

  /* menu */
  .header .upper {
    font-size: 0.8em;
    border-bottom: 1px solid rgba(122, 122, 122, 0.3);
  }
  .upper li a {
    padding: 10px 0;
    border-right: none;
    font-weight: 600;
  }

  .lower li a {
    padding: 10px 0;
  }

  .header li a {
    text-align: center;
    border-bottom: 1px solid rgba(122, 122, 122, 0.3);
  }

  .header .menu {
    display: none;
    margin: 0;
    background-color: #fff;
  }

  /* menu */
}
